/target/
.settings
.project
.classpath
sems/logs/
sems/webapps/ROOT/WEB-INF/classes/*
sems/webapps/ROOT/resources/*
sems/webapps/ROOT/target/*
!sems/webapps/ROOT/target/test/
sems/webapps/ROOT/target/test/*
!sems/webapps/ROOT/target/test/hamjest
killRunOpenRoot.bat
props.txt
