.settings
/.idea

.gradle
build/
gradle/
tomcat/bin/setenv.bat
gradle.properties
/installDevelopmentEnvironment.bat
/test_client-core_and_e2e.bat
/test_e2e.bat
/test_everything.bat
/runServer.bat
/deploy.bat